<ion-view view-title="{{ 'mma.dashboard.dashboard' | translate }}">
    <ion-nav-buttons side="secondary">
        <button ng-if="profileLink" class="button button-icon icon ion-person" mm-user-link userid="{{userId}}"></button>
    </ion-nav-buttons>

    <mm-split-view>
  <ul id="general-menu" class="nav nav-v js-accordion"> <li class="nav-item">	
        	<a href="#" class="toogler expand touch-row">
            	<span class="plugin-ico app-ico"><img src="img/ico-course.png" border="0"></span>
            	<%= MM.lang.s("student_dashboard") %>
        	</a>
	 		<ul class="nav submenu">
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Test_Results.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("test_results") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/course_registration/index.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("self_registration") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Program_Syllabus.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("program_syllabus") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Program_Sheet.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("program_sheet") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Class_Schedule.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("class_schedule") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Absences.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("attendance_report") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/find_book.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("search_library") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Book_Issued.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("books_issued") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Exam_Schedule.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("exam_schedule") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://pafkiet.edu.pk/main/academics/academic-calendar/" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("academic_calender") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Student_Query.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("student_query") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Fee_Bill.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("student_feebill") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Fee_Statement.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("fee_statement") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/last_30_days_SMS.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("last_30days_sms") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/last_30_days_EMAILS.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("last_30days_email") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Grade_Sheet.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("grade_sheet") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Student_reports/Grade_History.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("grade_history") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/Clearance_form/Apply_for_Clearance.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("clearance_form") %>
        			</a>
				</li>
				<li class="nav-item">
					<a href="http://lms.pafkiet.edu.pk/kietlms/my/alumni/aif.php" target="_blank" class="touch-row">
            			<span class="plugin-ico app-ico"><img src="img/ico-right.png" border="0"></span>
            			<%= MM.lang.s("alumni_info") %>
        			</a>
				</li>
			</ul>
    </li></ul>
    </mm-split-view>
</ion-view>
