<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>

    <ion-content>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="dashboardLoaded"
                       on-refresh="refreshDashboard()">
        </ion-refresher>
        <mm-loading hide-until="dashboardLoaded">
            <div class="list">
                <article class="card" ng-repeat="note in dashboard">
                        <div class="item item-avatar">
                            <img ng-if="note.userprofileimageurl" ng-src="{{note.userprofileimageurl}}" mm-external-content mm-user-link courseid="{{courseid}}" userid="{{note.userid}}">
                            <img ng-if="!note.userprofileimageurl" src="img/user-avatar.png" alt="" role="presentation">
                            <div class="item-note">{{note.lastmodified | mmDateDayOrTime}}</div>
                            <p>{{note.userfullname}}</p>
                        </div>
                        <div class="item item-body">
                            <p><mm-format-text watch="true" clean="true">{{note.content}}</mm-format-text></p>
                        </div>
                </article>
                <div ng-if="dashboard.length == 0" class="item item-text-wrap">{{ 'mma.dashboard.nodashboard' | translate }}</div>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>